<%- include('partials/header',{title: 'Edit Post'}) %>

<h2 class="mb-4">Edit Post</h2>
 
<form method="POST" action="/edit/<%= id %>" enctype="multipart/form-data" class="card p-4 shadow-sm">
    <div class="mb-3">
        <label for="form-label">
            Title
        </label>
        <input type="text" name="title" class="form-control" value="<%= post.title %>">
    </div>
    <div class="mb-3">
        <label for="form-label">
            Content
        </label>
        <textarea name="title" class="form-control" rows="5"> <%= post.content %></textarea>
    </div>
    <% if(post.image){ %>
        <div class="mb-3">
            <label for="form-label">Current Image:</label><br/>
            <img src="<%= post.image %>" class="img-thumbnail" style="max-height: 150px;" >

        </div>
     <% } %>
     

     <div class="mb-3">
        <label for="form-label">Replace Image (Optional)</label><br/>
        <input type="file" name="image" class="form-control">
    </div>

    <button class="btn btn-primary">Update Post</button>
</form>

<%- include('partials/footer')%>